<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/commonStyle.css">
  <link rel="stylesheet" href="/boardStyle.css"> <!-- 다른 방법 없나-->
</head>
<body>

  <div th:insert="navbar :: navbar"> navbar </div>

  <h1><a href="/board/">누구나 <b>한 번쯤은</b> 만든다는 게시판</a></h1>

  <div th:insert="board_content :: content"> board content </div>
    
  <div th:insert="board_write :: write"> board write panel </div>


  <table id="boardList">
    <colgroup>
      <col style="max-width: 3em; width: 5%;">
      <col style="max-width: 3em; width: 5%;">
      <col style="max-width: 30em; width: 60%;">
      <col style="max-width: 10em; width: 10%;">
      <col style="max-width: 10em; width: 20%;">
    </colgroup>
    <tr><th>no.</th>
      <th> </th>
      <th>title</th>
      <th>author</th>
      <th>time</th>
    </tr>
    <tr th:each=" list : ${boardList}">
      <td th:text="${list.id}">no.</td>
      <td th:if="${list.isFile}">🎨</td><td th:if="${!list.isFile}">📄</td>
      <td class="titleCell"><a th:text="${list.title}" th:href="@{'/board/'+${pageNum}+ '/' + ${list.id}}"> title</a></td>
      <td class="authorCell" th:text="${list.author}">author</td>
      <td th:text="${#dates.format(list.writeDate, 'yy/MM/dd HH:mm')}">time</td>
    </tr>
  </table>

  <div id="pagination">
    <a class="pageNum" th:each="page : ${#numbers.sequence(1, pagination )}" th:th:text="${page}" th:href="@{'/board/'+${page}}">pageNum</a>
  </div>
  <button type="button" onclick="openWritePanel()">글쓰기</button>

  <div th:insert="footer :: footer"> footer </div>
  <script src="/boardScript.js"></script> <!-- 다른 방법 없나-->
</body>
</html>