<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/commonStyle.css">
  <link rel="stylesheet" href="/sqlStyle.css">
</head>
<body>

  <div th:insert="navbar :: navbar"></div>
  
  <h1> test SQL query</h1>
  <div id="sqlContainer">
    <div id="queryDiv">
      <label for="query"><h2>쿼리 날리기</h2></label>
      <form th:action="@{/sql}" method="POST">
        <textarea placeholder="SQL query here" name="query" th:text="${prev_query}"></textarea><br>
        <button type="submit">SEND</button>
      </form>
    </div>

    <div id="resultDiv">
      <label for="queryResultTable"><h2>결과</h2></label>
      <table class="w3-table w3-striped" id="queryResultTable" name="queryResultTable" >
        <tr th:each="row : ${result}">
          <td th:each="col : ${row}" th:text="${col}"></td>
        </tr>
      </table>
    </div>
  </div>
  <div th:insert="footer :: footer"></div>

</body>
</html>